.table-container {
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
}

.mat-table {
  width: 100%;
}

/* Ensure header cells wrap text */
.mat-header-cell,
.mat-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Set a minimum width for each column */
.mat-column-name,
.mat-column-email,
.mat-column-profilePic {
  min-width: 150px;
  /* Adjust as needed */
}

img#userProfile{
  height: 50px;
}

th.mat-header-cell {
  padding-right: 24px;
  font-size: 16px;
  font-weight: bold;
}